<div class="card rounded-card shadow p-2 bg-white my-4 border-0 mx-5">

  <div class="d-flex justify-content-between">
    <div>
      <img src="../../../../assets/nocontent.png" class="rounded-circle" alt="user-image"
           style="max-width: 3em; margin-right: 10px;"/>
    </div>

    <div>
      <div class="ratings">
        <i class="fa fa-star rating-color"></i>
        <i class="fa fa-star rating-color"></i>
        <i class="fa fa-star rating-color"></i>
        <i class="fa fa-star rating-color"></i>
        <i class="fa fa-star"></i>
      </div>
    </div>
  </div>

  <div class="card-body">
    <div class="card-text text-justify">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut cum error facilis officia! Cumque dicta
        dignissimos dolore, earum eius explicabo fuga laborum maxime, molestias placeat, provident quis quo temporibus!
        Eligendi.</p>
    </div>
  </div>
</div>
