<table class="table caption-top">
  <caption>Liste des demandes de devis en cours de rédaction</caption>
  <thead>
  <tr>
    <th *ngFor="let field of fields" scope="col">
      {{ field.label }}
    </th>
    <th scope="col">Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of items">
    <td *ngFor="let field of fields">
      {{ item[field.key] }}
    </td>
    <td>
      <div class="btn-group btn-group-sm">
        <button class="btn btn-success">
          <i class="far fa-paper-plane"></i>
        </button>
        <button class="btn btn-primary">
          <i class="fas fa-edit"></i>
        </button>
        <button class="btn btn-info">
          <i class="far fa-eye"></i>
        </button>
        <button class="btn btn-danger">
          <i class="fas fa-trash"></i>
        </button>
      </div>
    </td>
  </tr>
  </tbody>
</table>
