.barre {
  border-top: 5px solid #79648F;
  margin-top: 25px;
  margin-bottom: 15px;
  border-bottom: 1px dotted #B4A8BF;
}

.h1-lemka {
  background: linear-gradient(to right, #834d9b 0%, #be7ec3 50%, #b98bd0 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Permanent Marker', cursive;
}
