<div class="container">
  <ng-container *ngIf="utilisateur;else ngNotUser">

    <app-card title="Mon profil">
      <div class="row">
        <div class="col-lg-5">
          <!-- <img [src]="utilisateur.image" class="h-100 rounded"> -->

          <div class="img-thumbnail img-fluid">
            <p-image [src]="utilisateur.image ? utilisateur.image : 'assets/nocontent.png'"
                     alt="Image" [preview]="true"
                     width="100%">
              <ng-template pTemplate="indicator">
                Indicator Content
              </ng-template>
            </p-image>
          </div>

          <div>
            <button id="toggle-btn" class="btn btn-light w-100">
              Modifier photo
            </button>
          </div>

        </div>

        <div class="col-lg-7">
          <div>
            <h4>{{utilisateur.username}}</h4>
          </div>
          <div>
            <span class="badge bg-primary">{{utilisateur.role}}</span>
          </div>

          <hr>

          <div>
            <h3>{{ fullName }}</h3>
          </div>

          <div>
            <span class="mr-2"><i class="far fa-envelope"></i></span>
            <span> {{ utilisateur.email }}</span>
          </div>

          <div *ngIf="utilisateur.tel">
            <span class="mr-2"><i class="fas fa-phone"></i></span>
            <span> {{ utilisateur.tel }}</span>
          </div>

          <div *ngIf="utilisateur.genre">
            <span class="mr-2"><i class="fas fa-venus-mars"></i></span>
            <span> {{ utilisateur.genre.nom }}</span>
          </div>

          <hr>

          <div class="mt-2" *ngIf="utilisateur.adresse">
            <span><i class="fas fa-home"></i></span><br>
            <span>{{ utilisateur.adresse.rue }}, {{ utilisateur.adresse.numero }} {{ utilisateur.adresse.boite}}</span>
            <br>
            <span>{{ utilisateur.adresse.codePostal }} - {{ utilisateur.adresse.ville }}</span><br>
            <span>{{ utilisateur.adresse.pays }}</span>
          </div>

          <hr>

          <button routerLink="/account/profil/update" class="btn btn-outline-primary my-3">
            Modifier profil
          </button>
        </div>
      </div>

      <div class="d-flex justify-content-between mt-5">
        <span><small>Membre depuis {{ utilisateur.createdAt }}</small></span>
        <span><small>Dernière connexion {{ utilisateur.lastLogin }}</small></span>
        <span><small>Dernière modification {{ utilisateur.updatedAt }}</small></span>
      </div>
    </app-card>

  </ng-container>

  <ng-template #ngNotUser>
    <p>User Not Set Yet</p>
  </ng-template>
</div>
