<div class="container">
  <app-card title="Création de demande de devis">
    <form [formGroup]="fg" (ngSubmit)="submit()">
      <div class="form-check form-switch">
        <input class="form-check-input"
               type="checkbox"
               role="switch"
               formControlName="estUrgent"
               id="flexSwitchCheckDefault">
        <label class="form-check-label" for="flexSwitchCheckDefault">Urgent</label>
      </div>

      <ng-container *ngIf="fg.controls['estUrgent'].value === true">
        <span class="badge rounded-pill bg-danger">Toute demande urgente engendre des frais supplémentaires !</span>
      </ng-container>

      <div class="form-floating has-validation mt-3">
        <input type="text"
               class="form-control"
               [ngClass]="formStatus(formControl('titre'), submitted)"
               id="floatingInputTitre"
               placeholder="..."
               formControlName="titre">
        <label for="floatingInputTitre">Titre*</label>
        <div class="invalid-feedback"
             *ngIf="(fg.controls['titre'].touched || submitted) && fg.controls['titre'].invalid">
          <div *ngIf="formControl('titre', 'required')">Le titre est requis.</div>
          <div *ngIf="formControl('titre', 'maxlength')">Maximum 80 caractères permis.</div>
        </div>
      </div>

      <div class="form-floating has-validation mt-3">
        <select id="floatingSelect"
                class="form-select"
                [ngClass]="formStatus(formControl('serviceId'), submitted)"
                formControlName="serviceId"
                aria-label="Label pour le service">
          <option selected></option>
          <option *ngFor="let service of services" [value]="service.id">{{service.nom}}</option>
        </select>
        <label for="floatingSelect">Service*</label>

        <div class="invalid-feedback"
             *ngIf="(fg.controls['serviceId'].touched || submitted) && fg.controls['serviceId'].invalid">
          <div *ngIf="formControl('serviceId', 'required')">Le service est requis !</div>
        </div>
      </div>

      <div class="form-floating has-validation mt-3">
        <textarea id="floatingInputDescription"
                  class="form-control"
                  placeholder="..." style="min-height: 150px"
                  formControlName="remarque"></textarea>
        <label for="floatingInputDescription">Remarque</label>
      </div>

      <ng-container *ngIf="fg.controls['serviceId'].value === '1' || fg.controls['serviceId'].value === '3'">

        <hr>
        <h4 class="text-secondary mb4">Optionnel</h4>
        <hr>

        <div class="form-floating has-validation mt-3">
          <select id="floatingSelectMensuration"
                  class="form-select"
                  [ngClass]="formStatus(formControl('mensurationId'), submitted)"
                  formControlName="mensurationId"
                  aria-label="Soumettre">
            <option selected></option>
            <option *ngFor="let mensuration of mensurations" [value]="mensuration.id">
              {{mensuration.titre}}
            </option>
          </select>
          <label for="floatingSelectMensuration">Mensuration</label>
        </div>

        <ng-container *ngIf="fg.controls['serviceId'].value === '1'">
          Ajout d'articles
        </ng-container>

      </ng-container>

      <app-double-list-box [selectedItems]="articles"></app-double-list-box>

      <ul>
        <li *ngFor="let article of articles">{{article.titre}}</li>
      </ul>

      <div class="btn-group mt-3">
        <button type="submit" class="btn btn-outline-success">Créer</button>
        <button type="reset" class="btn btn-outline-danger">Reset</button>
      </div>
    </form>
  </app-card>
</div>
