<div class="contact">

  <div class="container my-5">
    <div class="row">

      <div class="col-lg-8">
        <div class="card">
          <div class="card-header">
            <i class="fa fa-envelope"></i> Contactez nous.
          </div>

          <div class="card-body">
            <div class="alert alert-warning text-center" role="alert">
              <span>Nous ne partagerons jamais vos informations personnelles avec un tiers, à quelque fin que ce soit.</span>
            </div>

            <form>
              <div class="form-floating my-2">
                <select class="form-select" id="floatingSelectGender" aria-label="Floating label select example">
                  <option selected></option>
                  <option value="H">Homme</option>
                  <option value="F">Femme</option>
                  <option value="X">X</option>
                </select>
                <label for="floatingSelectGender">Sexe *</label>
              </div>

              <div class="row my-2">

                <div class="col-lg-6">
                  <div class="form-floating">
                    <input type="text" class="form-control" id="floatingInputLastname" required>
                    <label for="floatingInputLastname">Nom *</label>
                  </div>
                </div>

                <div class="col-lg-6">
                  <div class="form-floating">
                    <input type="text" class="form-control" id="floatingInputFirstname" required>
                    <label for="floatingInputFirstname">Prénom *</label>
                  </div>
                </div>
              </div>

              <div class="row my-2">

                <div class="col-lg-6">
                  <div class="form-floating">
                    <input type="text" class="form-control" id="floatingInputEmail" required>
                    <label for="floatingInputEmail">Email *</label>
                  </div>
                </div>

                <div class="col-lg-6">
                  <div class="form-floating">
                    <input type="tel" class="form-control" id="floatingInputTel">
                    <label for="floatingInputTel">Tél</label>
                  </div>
                </div>
              </div>

              <div class="form-floating my-2">
                <select class="form-select" id="floatingSelectSubject" aria-label="Floating label select example">
                  <option selected></option>
                  <optgroup label="Service de couture">
                    <option value="Confection">Confection</option>
                    <option value="Réparation">Réparation</option>
                    <option value="Retouche">Retouche</option>
                  </optgroup>
                  <optgroup label="Autre demande">
                    <option value="Autre">Autre</option>
                  </optgroup>
                </select>
                <label for="floatingSelectSubject">Sujet *</label>
              </div>

              <div class="form-floating my-2">
                <textarea class="form-control" id="floatingMessage" style="height: 100px"></textarea>
                <label for="floatingMessage">Message</label>
              </div>

              <div class="mx-auto my-2">
                <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                  <button type="submit" class="btn btn-success">Envoyer</button>
                  <button type="reset" class="btn btn-danger">Réinitialiser</button>
                </div>
              </div>
              <div class="my-3">
                <p>* Champs obligatoire</p>
              </div>
            </form>
          </div>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="card">
          <div class="card-header">
            <i class="fa fa-home"></i> Adresse
          </div>
          <div class="card-body">
            <h5>Lemka - Atelier de couture</h5>
            <p>TVA</p>
            <p>Arthur Puesstraat, 89</p>
            <p>1502 - Lembeek</p>
            <p>Belgique</p>
            <p>Email : <a href="mailto:">Email</a></p>
            <p>Tel. <a href="tel:">Tel</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
