<div class="container my-5 d-flex justify-content-center">
  <div class="card pt-5 px-3 pb-3 w-50">
    <div class="card-title">
      <h2 class="text-center">Inscrivez-vous</h2>
    </div>

    <div class="card-body">
      <form>
        <div class="form-floating mb-3">
          <input type="email" class="form-control" id="floatingEmail" />
          <label for="floatingEmail">adresse e-email</label>
        </div>

        <div class="form-floating mb-3">
          <input type="password" class="form-control bonjour" id="floatingPassword" />
          <label for="floatingPassword">mot de passe</label>
        </div>

        <div class="form-floating">
          <input type="password" class="form-control bonjour" id="floatingConfirmPassword" />
          <label for="floatingConfirmPassword">confirmer mot de passe</label>
        </div>

        <button type="submit" class="btn btn-primary w-100 my-3">
          S'INSCRIRE
        </button>

        <p class="text-center">
          <a routerLink="/auth/login" class="text-muted text-center">
            Vous avez déja un compte ?
          </a>
        </p>
      </form>
    </div>
  </div>
</div>
