<footer class="bg-white border-top">
  <div class="border-top">
    <div class="container">
      <div class="row py-4">

        <div class="col-lg-3">
          <h5>CONTACT</h5>
          <ul class="list-unstyled text-small text-secondary">
            <li>
              <h5 class="text-secondary">Nom de societe</h5>
            </li>

            <li>TVA:
              <a
                class="link-secondary"
                href="https://kbopub.economie.fgov.be/kbopub/zoeknummerform.html?nummer=0650894447&actionLu=Recherche"
                target="_blank"
              >
                BE0123456789
              </a>
            </li>
            <li>Tel:
              <a
                class="link-secondary no-underline" href="tel: 0472018642">
                +32 0472018642
              </a>
            </li>
            <li>E-mail:
              <a class="link-secondary no-underline" href="mailto: elena@lemka.be">
                mail@mail.com
              </a>
            </li>
          </ul>
        </div>

        <div class="col-lg-3">
          <h5>LÉGALES</h5>
          <ul class="list-unstyled text-small liens-footer">
            <li>
              <a class="link-secondary" routerLink="politique-de-confidentialite">Politique de confidentialité</a>
            </li>
            <li>
              <a class="link-secondary" routerLink="retours-et-remboursements">Retours et remboursement</a>
            </li>
            <li>
              <a class="link-secondary" routerLink="conditions-generales">Conditions générales</a>
            </li>
          </ul>
        </div>

        <div class="col-lg-3">
          <h5>RESEAUX SOCIAUX</h5>
          <p class="text-secondary">Suivez-nous sur les réseaux sociaux. Tenez-vous au courant de toutes les activités, nouvelles et
            plus</p>
          <!-- Social buttons -->

        </div>

        <div class="col-lg-3">
          <h5>A PROPOS DE NOUS</h5>
          <p class="text-secondary text-justify">
            Text de description a propos court
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
