<div class="container">

  <div class="card border-0 shadow p-3 bg-white rounded my-4">
    <div class="card-title">Modifier/Ajouter l'adresse</div>
    <div class="card-body">

      <form>

        <div class="p-field p-col-12 p-md-4">
          <span class="p-float-label">
            <input type="text" id="inputtext" pInputText [(ngModel)]="adresse.pays">
            <label for="inputtext">Pays</label>
          </span>
        </div>


        <div class="p-field p-col-12 p-md-4">
          <span class="p-float-label">
            <input type="text" id="inputtext" pInputText [(ngModel)]="adresse.pays">
            <label for="inputtext">Ville</label>
          </span>
        </div>


        <div class="p-field p-col-12 p-md-4">
          <span class="p-float-label">
            <input type="text" id="inputtext" pInputText [(ngModel)]="adresse.pays">
            <label for="inputtext">Code Postal</label>
          </span>
        </div>


        <div class="p-field p-col-12 p-md-4">
          <span class="p-float-label">
            <input type="text" id="inputtext" pInputText [(ngModel)]="adresse.pays">
            <label for="inputtext">Rue</label>
          </span>
        </div>


        <div class="p-field p-col-12 p-md-4">
          <span class="p-float-label">
            <input type="text" id="inputtext" pInputText [(ngModel)]="adresse.pays">
            <label for="inputtext">Numero</label>
          </span>
        </div>


        <div class="p-field p-col-12 p-md-4">
          <span class="p-float-label">
            <input type="text" id="inputtext" pInputText [(ngModel)]="adresse.pays">
            <label for="inputtext">Boite</label>
          </span>
        </div>

        <span class="p-buttonset">
          <button pButton pRipple label="Save" icon="pi pi-check">Ajouter</button>
          <button pButton pRipple label="Delete" icon="pi pi-trash"></button>
          <button pButton pRipple label="Cancel" icon="pi pi-times"></button>
      </span>
      </form>
    </div>
  </div>
</div>
