<div class="product_card">
  <figure class="product_card__thumb">
    <img src="../../../../assets/nocontent.png" alt="Picture by Kyle Cottrell" class="product_card__image">
    <figcaption class="product_card__caption">
      <h2 class="product_card__title">Tailored Jeans</h2>
      <p class="product_card__snippet">NASA released a list of 219 new “planet candidates” discovered by the Kepler space
        telescope, 10 of which are similar to Earth’s size and may be habitable by other life forms.</p>
      <a href="" class="product_card__button">Voir plus</a>
    </figcaption>
  </figure>
</div>
