<nav class="navbar navbar-expand-md navbar-light bg-light border-0 nav-shadow colored" aria-label="Fourth navbar example">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">
      <img src="../../../../assets/logo.png" alt="lemka-logo" style="max-width: 150px;">
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar"
            aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li *ngFor="let navItem of routes" class="nav-item" [ngClass]="{'dropdown': navItem.children}">
          <a *ngIf="!navItem.children" class="nav-link" routerLink="{{parentUrl}}/{{navItem.url}}" routerLinkActive="active">
            <i *ngIf="navItem.icon" class="{{ navItem.icon }}"></i>
            <div>{{navItem.title}}</div>
          </a>

          <a *ngIf="navItem.children" class="nav-link dropdown-toggle" href="#" id="dropdown" data-bs-toggle="dropdown"
             aria-expanded="false">
            <i *ngIf="navItem.icon" class="{{ navItem.icon }}"></i>
            {{ navItem.title }}
          </a>
          <ul *ngIf="navItem.children" class="dropdown-menu" aria-labelledby="dropdown">
            <li *ngFor="let navItemChild of navItem.children">
              <a class="dropdown-item" routerLink="{{navItem.url}}/{{navItemChild.url}}" routerLinkActive="active">
                {{navItemChild.title}}
                <i *ngIf="navItemChild.icon" class="{{ navItem.icon }}"></i>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
