<div class="container">
  <app-card title="Modifier profile">
    <!-- region Utilisateur Form -->
    <div class="card border-0 shadow p-3 bg-white rounded mb-5">
      <div class="card-title">Profil</div>
      <div class="card-body">

        <form [formGroup]="utilisateurForm" (ngSubmit)="submitUtilisateur()">

          <div class="row mb-3">
            <div class="col-lg-4">
              <div class="form-floating has-validation">
                <input type="text"
                       class="form-control"
                       id="floatingInputPrenom"
                       formControlName="prenom"
                       [ngClass]="formStatus(utilisateurControl('prenom'), utilisateurSubmitted)"
                       placeholder="prenom">
                <label for="floatingInputPrenom">Prénom*</label>

                <div class="invalid-feedback"
                     *ngIf="(utilisateurForm.controls['prenom'].touched || utilisateurSubmitted) && utilisateurForm.controls['prenom'].invalid">
                  <div *ngIf="utilisateurControl('prenom', 'required')">Prénom est requis.</div>
                  <div *ngIf="utilisateurControl('prenom', 'maxlength')">Maximum 100 caractères permis.</div>
                </div>
              </div>
            </div>

            <div class="col-lg-4">
              <div class="form-floating has-validation">
                <input type="text"
                       class="form-control"
                       id="floatingInputNom"
                       formControlName="nom"
                       [ngClass]="formStatus(utilisateurControl('nom'), utilisateurSubmitted)"
                       placeholder="nom">
                <label for="floatingInputNom">Nom*</label>

                <div class="invalid-feedback"
                     *ngIf="(utilisateurForm.controls['nom'].touched || utilisateurSubmitted) && utilisateurForm.controls['nom'].invalid">
                  <div *ngIf="utilisateurControl('nom', 'required')">Nom est requis.</div>
                  <div *ngIf="utilisateurControl('nom', 'maxlength')">Maximum 100 caractères permis.</div>
                </div>
              </div>
            </div>

            <div class="col-lg-4">
              <div class="form-floating">
                <select class="form-select"
                        id="floatingSelectGenre"
                        aria-label="Floating label select example"
                        formControlName="genreId">
                  <option selected></option>
                  <ng-container *ngFor="let genre of genres">
                    <option [value]="genre.id">{{ genre.nom }}</option>
                  </ng-container>
                </select>
                <label for="floatingSelectGenre">Genre</label>
              </div>
            </div>
          </div>

          <div class="row mb-3">

            <div class="col-lg-4">
              <div class="form-floating has-validation">
                <input type="text"
                       class="form-control"
                       id="floatingInputTel"
                       formControlName="tel"
                       [ngClass]="formStatus(utilisateurControl('tel'), utilisateurSubmitted)"
                       placeholder="tel">
                <label for="floatingInputTel">Tel</label>

                <div
                  *ngIf="(utilisateurForm.controls['tel'].touched || utilisateurSubmitted) && utilisateurForm.controls['tel'].invalid"
                  class="invalid-feedback">
                  <div *ngIf="utilisateurControl('tel', 'maxlength')">Maximum 20 caractères permis.</div>
                </div>
              </div>
            </div>
          </div>

          <div class="btn-group" role="group" aria-label="Basic example">
            <button type="submit" class="btn btn-outline-primary">Modifier</button>
            <button type="reset" class="btn btn-outline-danger">Reset</button>
          </div>
        </form>
      </div>
    </div>
    <!-- endregion -->

    <!-- region Adresse form -->
    <div class="card border-0 shadow p-3 bg-white rounded mb-5">
      <div class="card-title">Adresse</div>
      <div class="card-body">
        <form [formGroup]="adresseForm" (ngSubmit)="submitAdresse()">
          <div class="row mb-3">
            <div class="col-lg-4">
              <div class="form-floating has-validation">
                <input type="text" class="form-control" id="floatingInputPays" placeholder="Belgique"
                       formControlName="pays" [ngClass]="formStatus(adresseControl('pays'), adresseSubmitted)">
                <label for="floatingInputPays">Pays*</label>
                <div class="invalid-feedback"
                     *ngIf="(adresseForm.controls['pays'].touched || adresseSubmitted) && adresseForm.controls['pays'].invalid">
                  <div *ngIf="adresseControl('pays', 'required')">Pays requis</div>
                  <div *ngIf="adresseControl('pays', 'maxlength')">Maximum 50 caractères permis.</div>
                </div>
              </div>
            </div>

            <div class="col-lg-4">
              <div class="form-floating has-validation">
                <input type="text" class="form-control" id="floatingInputVille" placeholder="Bruxelles"
                       formControlName="ville"
                       [ngClass]="formStatus(adresseControl('ville'), adresseSubmitted)">
                <label for="floatingInputVille">Ville *</label>
                <div class="invalid-feedback"
                     *ngIf="(adresseForm.controls['ville'].touched || adresseSubmitted) && adresseForm.controls['ville'].invalid">
                  <div *ngIf="adresseControl('ville', 'required')">Ville est requise.</div>
                  <div *ngIf="adresseControl('ville', 'maxlength')">Maximum 50 caractères permis.</div>
                </div>
              </div>
            </div>

            <div class="col-lg-4">
              <div class="form-floating has-validation">
                <input type="text" class="form-control" id="floatingInputCodePostal" placeholder="1000"
                       formControlName="codePostal"
                       [ngClass]="formStatus(adresseControl('codePostal'), adresseSubmitted)">
                <label for="floatingInputCodePostal">Code Postal *</label>
                <div class="invalid-feedback"
                     *ngIf="(adresseForm.controls['codePostal'].touched || adresseSubmitted) && adresseForm.controls['codePostal'].invalid">
                  <div *ngIf="adresseControl('codePostal', 'required')">Code postal est requis.</div>
                  <div *ngIf="adresseControl('codePostal', 'minlength')">minimum 4 caractères requis.</div>
                  <div *ngIf="adresseControl('codePostal', 'maxlength')">Maximum 10 caractères permis.</div>
                </div>
              </div>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col-lg-4">
              <div class="form-floating has-validation">
                <input type="text" class="form-control" id="floatingInputCodeRue" placeholder="Chaussée d'Ixelles"
                       formControlName="rue"
                       [ngClass]="formStatus(adresseControl('rue'), adresseSubmitted)">
                <label for="floatingInputCodeRue">Rue *</label>
                <div class="invalid-feedback"
                     *ngIf="(adresseForm.controls['rue'].touched || adresseSubmitted) && adresseForm.controls['rue'].invalid">
                  <div *ngIf="adresseControl('rue', 'required')">Rue est requise.</div>
                  <div *ngIf="adresseControl('rue', 'maxlength')">Maximum 50 caractères permis.</div>
                </div>
              </div>
            </div>

            <div class="col-lg-4">
              <div class="form-floating has-validation">
                <input type="text" class="form-control" id="floatingInputNumero" placeholder="123a"
                       formControlName="numero"
                       [ngClass]="formStatus(adresseControl('numero'), adresseSubmitted)">
                <label for="floatingInputNumero">Numero *</label>
                <div class="invalid-feedback"
                     *ngIf="(adresseForm.controls['numero'].touched || adresseSubmitted) && adresseForm.controls['numero'].invalid">
                  <div *ngIf="adresseControl('numero', 'required')">Numéro est requis.</div>
                  <div *ngIf="adresseControl('numero', 'maxlength')">Maximum 10 caractères permis.</div>
                </div>
              </div>
            </div>

            <div class="col-lg-4">
              <div class="form-floating">
                <input type="text" class="form-control" id="floatingInputBoite" formControlName="boite"
                       placeholder="...">
                <label for="floatingInputBoite">Boite</label>
              </div>
            </div>
          </div>

          <div class="btn-group" role="group" aria-label="Basic example">
            <button type="submit"
                    [ngClass]="{'btn-outline-primary': adresseExists, 'btn-outline-success': !adresseExists}"
                    class="btn">
              {{ adresseExists ? 'Modifier' : 'Ajouter' }}
            </button>
            <button type="reset" class="btn btn-outline-danger">Reset</button>
          </div>
        </form>
      </div>
    </div>
    <!-- endregion -->
  </app-card>
</div>
